<div class="footer">
    <div class="footer-child1">
        <div>
            <h1>Loftet <i class="fa-solid fa-map-location"></i></h1>
            
            <p>-nice places to stay-</p>
          
        </div>
        <div>
            <p class="text">
                Tbilisi hotel reservation company.
                We offer a choice from more than 400 Tbilisi hotels and apartments 
                throughout the whole Tbilisi.
            </p>
        </div>
    </div>

    <div class="footer-child2">
        <h3>Contact Us</h3>
        <a href = "mailto: Loftet@hotelbooking.com">Send Email</a>
        <a href="+995 597070207">+ 995 597-07-02-07</a>
    </div>
   

</div>