
<div class="maindiv">
    <div class="intro-text">
        <h1>Welcome to Loftet</h1>
        <h4>Your Journey, Your Home</h4>
        <h4> Your Gateway to Exceptional Hotels</h4>    
    </div>
    <img src="https://images.trvl-media.com/lodging/16000000/15840000/15835100/15835033/d9add37c.jpg?impolicy=fcrop&w=1200&h=800&p=1&q=medium" alt="hotelImage">
    <div class="main-text">
        <p>Nestled in the heart of a charming seaside town, Loftet stands as your gateway to a diverse array
            of exceptional hotels. Founded with a vision to curate unforgettable experiences,
             Loftet offers a handpicked selection of accommodations, each promising a unique blend of comfort 
             and luxury.
       </p>
   
       <p>
           From boutique hideaways to renowned establishments, Loftet caters to every traveler's discerning taste.
            Whether you seek the tranquility of a coastal retreat or the vibrant energy of city life, 
            our carefully curated collection ensures there's something for everyone.
       </p>
      
       <p>
           At Loftet, we understand that every journey is unique. Our dedicated team is committed to helping you
            find the perfect hotel that suits your preferences, ensuring a seamless booking experience 
            from start to finish.
       </p>
   
       <p>
           Join us as we embark on a journey of discovery and exploration.
            Welcome to Loftet, where the world of exceptional hotels awaits your arrival.
       </p>
    </div>
    <hr>

    <div class="services">
        <h2>Features:</h2>
        <div class="details">
            <p><i class="fa-solid fa-wifi"></i> | Free Wi-Fi in rooms </p>
            <p><i class="fa-regular fa-clock"></i> | 24-hour reception</p>
            <p><i class="fa-solid fa-door-open"></i> | Express check-in/ -out </p>
            <p><i class="fa-solid fa-water-ladder"></i> | Indoor swimming pool</p>
            <p><i class="fa-solid fa-heart-pulse"></i> | Fitness centre </p>

        </div>
        <hr>

        <div class="parent">
            <div class="child1">

                <div class="list">
                    <h5><i class="fa-solid fa-wifi"></i> INTERNET CONNECTION</h5>
                    
                    <ul>
                        <li class="wifi">Free  wifi</li>
                    </ul>
                </div>
        
             
    
                <div class="list">
                    <h5><i class="fa-solid fa-user-tie"></i> SERVICES</h5>
                    
                    <ul>
                        <li>24-hour reception</li>
                        <li>Express check-in/ -out</li>
                        <li>Locker room</li>
                        <li>Luggage storage</li>
                        <li>Room service</li>
                        <li>Housekeeping</li>
                        <li>Transfer</li>
                        <li>Tours/Ticket assistance</li>
                        <li>Welcome drink</li>
    
    
                    </ul>
                </div>
    
                <div class="list">
                    <h5><i class="fa-solid fa-square-parking"></i> PARKING</h5>
                    
                    <ul>
                        <li>Parking</li>
                    </ul>
                </div>

                <div class="list">
                    <h5><i class="fa-solid fa-paw"></i> PETS</h5>
                    
                    <ul>
                        <li>Pets allowed</li>
                    </ul>
                </div>
                
            </div>

            <div class="child2">
                <div class="list">
                    <h5><i class="fa-solid fa-mug-hot"></i> LEISURE FACILITIES</h5>
                    
                    <ul>
                        <li>Indoor swimming pool</li>
                        <li>Casino</li>
                        <li>Live entertainment</li>
                        <li>Sun terrace</li>
                        <li>Garden area</li>
                        <li>Spa & wellness centre</li>
                        <li>Sauna</li>
                        <li>Jacuzzi</li>
                        <li>Full body massage</li>
    
                    </ul>
                </div>
    
                
                <div class="list">
                    <h5><i class="fa-solid fa-utensils"></i> DINING</h5>
                    
                    <ul>
                        <li>In-room breakfast</li>
                        <li>Restaurant</li>
                        <li>Poolside snack bar</li>
                        <li>Packed lunches</li>
                        <li>Special diet menus</li>
                        
                    </ul>
                </div>

                
                <div class="list test">
                    <h5><i class="fa-solid fa-key"></i> ROOMS HAVE </h5>
                    
                    <ul>
                        <li>Air conditioning</li>
                        <li>Heating</li>
                        <li>Mini-bar</li>
                        <li>Sitting area</li>
                        <li>Terrace</li>
                        <li>Tea and coffee facilities</li>
                        <li>Dining table</li>
                        
                    </ul>
                </div>

            </div>
                


            <div class="child3">
    
                <div class="list">
                    <h5><i class="fa-solid fa-list-check"></i> GENERAL FACILITIES </h5>
                    
                    <ul>
                        <li>No smoking on site</li>
                        <li>Lift</li>
                        <li>ATM/Cash machine</li>
                        <li>Coffee shop</li>
                        <li>Smoke detectors</li>
                        <li>Fire extinguishers</li>
                        <li>Key card access</li>
                        
                    </ul>
                </div>
    
            
    
                <div class="list">
                    <h5><i class="fa-solid fa-wheelchair"></i> FOR DISABLED GUESTS</h5>
                    
                    <ul>
                        <li>Rooms/ Facilities for disabled</li>
                        <li>Wheelchair access</li>
                    </ul>
                </div>
    
                <div class="list">
                    <h5><i class="fa-solid fa-dumbbell"></i> ACTIVITIES & ENTERTAINMENTS</h5>
                    
                    <ul>
                        <li>Fitness centre</li>
                        <li>Yoga class</li>
                        <li>Spinning class</li>
                        <li>Sports trainer</li>
                        <li>Aerobics</li>
                    </ul>
                </div>
    
            </div>

            




        </div>
       

    </div>



    <div class="box">
        <h3>GOOD TO KNOW</h3>
        <div class="box-child">
            <p><b>Check-in:</b> from 15:00 until 23:59</p>
            <p><b>Check-out:</b> until 12:00</p>
            <span class="extra"><b>Extra beds</b></span>
            <p>The number of extra beds allowed in a room -1.</p>
        </div>
    </div>
</div>

