<section>
  <div>
    <a routerLink="/" href=""><h1>Loftet <i class="fa-solid fa-map-location"></i></h1></a>

    <p>-nice places to stay-</p>
  </div>

  <ul class="nav nav-underline">
    <li class="nav-item">
      <a aria-current="page" routerLinkActive="active" href="#">Home </a>
    </li>
    <li class="nav-item">
      <a routerLink="/about" routerLinkActive="active" href="#">About </a>
    </li>
    <li class="nav-item">
      <a routerLink="/contact" routerLinkActive="active" href="#">Contact</a>
    </li>
  </ul>
  <i (click)="showCard()" class="fa-solid fa-bars"></i>
</section>



<ul *ngIf="isCardShow" class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/about" href="#">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/contact" href="#">Contact</a>
  </li>
</ul>
