<section>
    
    <form>
        <h3>Contact details</h3>
        <div class="mb-3">
            <input type="text" class="form-control" id="exampleInputName"
            placeholder="First name and Surname*">
        </div>
       
        <div class="mb-3">
        <!-- <label for="exampleInputPassword1" class="form-label">Password</label> -->
        <input type="number" class="form-control" id="exampleInputPassword1"
        placeholder="Phone*">
        </div>
        <div class="mb-3">
            <!-- <label for="exampleInputEmail1" class="form-label">Email address</label> -->
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
             placeholder="Email*">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
       
        <!-- <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label> -->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


    <div class="messageBox">
        <h3>Saying details</h3>
        <input type="text" class="form-control" placeholder="Message">
        <button>Send Message</button>
    </div>



</section>
