<section>
  <div class="section2">
    <div class="select">
      <select
        (change)="onSelectChange($event)"
        class="form-select"
        aria-label="Default select example"
      >
        <option selected value="">Select Hotel</option>
        <option *ngFor="let hotel of hotels" value="{{ hotel.id }}">
          {{ hotel.name }}
        </option>
      </select>
    </div>

    <div class="check">
      <label for="">Check-In</label>
      <input type="date" name="" id="" />
    </div>

    <div class="check">
      <label for="">Check-out</label>
      <input type="date" name="" id="" />
    </div>
  </div>



  <div class="cards">
    <div
      routerLink="/fullinfo/{{ hotel.id }}"
      *ngFor="let hotel of getSelectedHotel()"
      class="card"
      style="width: 18rem"
    >
      <div class="card-body">
        <img [src]="hotel.featuredImage" class="card-img-top" alt="..." />
        <h5 class="card-title">{{ hotel.name }}</h5>
        <p class="card-text">{{ hotel.address }}</p>
        <p class="card-text">{{ hotel.city }}</p>
        <a
          href="#"
          routerLink="/fullinfo/{{ hotel.id }}"
          class="btn btn-primary"
          >View details</a
        >
      </div>
    </div>
  </div>
</section>
