<section>
    <div class="select">
        <select class="form-select" aria-label="Default select example">
            <option selected>Select Hotel</option>
            <option value="1">The Biltmore Hotel Tbilisi</option>
            <option value="2">Courtyard by Marriott Tbilisi</option>
            <option value="3">Radisson Blu Iveria Hotel Tbilisi</option>
        </select>
    </div>
    

    <div class="check">
        <label for="">Check-In</label>
        <input type="date" name="" id="">
    </div>

    <div class="check">
        <label for="">Check-out</label>
        <input type="date" name="" id="">
    </div>

    
 
</section>